﻿@{
	ViewData["Title"] = "Index";
}
@model List<AuthorContactViewModel>
<div class="container-fluid">
	<div class="container">
		<div class="d-flex justify-content-end">  @Html.ActionLink("Add", "Create", "AuthorContact", null, new { @class = "btn btn-primary" })</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Author Fullname</th>
					<th scope="col">Address</th>
					<th scope="col">ContactNumber</th>
				</tr>
			</thead>
			<tbody>

				@if (ViewBag.HasData)
				{
					foreach (var item in Model)
					{
						<tr>
							<th scope="row">@item.Id</th>
							<th>@item.FullName</th>
							<td>@item.Address</td>
							<td> @item.ContactNumber</td>
							<td>

								<a class="btn btn-warning" asp-controller="AuthorContact" asp-action="Edit" asp-route-id="@item.Id">
									<i class="far fa-pen-to-square"></i>

								</a>
								<a class="btn btn-danger" asp-controller="AuthorContact" asp-action="Delete" asp-route-id="@item.Id">
									<i class="fas fa-trash-can"></i>
								</a>

							</td>
						</tr>
					}
					<h3 class="text-success">@TempData["Success"]</h3>
					<h3 class="text-danger">@TempData["Delete"]</h3>
				}
				else
				{

					<h1>@ViewData["Message"]</h1>

				}


			</tbody>
		</table>


	</div>
</div>
